!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VRContent
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:rel=> 'stylesheet', :href => '/assets/css/foundation.css'}
    %link{:rel=>"stylesheet", :href =>"http://fonts.googleapis.com/icon?family=Material+Icons"}
  %body
    = yield

    %script{:src => "/assets/js/jquery.js"}
    %script{:type => "text/javascript", :src => "/assets/js/foundation.min.js"}
